/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
    --layout-body-bg-color: #f7eae0;
    --layout-accent-color: #dc8c50;
    --layout-body-font-color: #342d06;

    --header-bg-color: #c94927;
    --header-text-color: #ede0d7;

    --button-color-1: #685d18;
    --button-color-2: #eeed97;
    --button-color-3: #d3874e;
    --button-color-4: #ffffff;
    --button-color-5: #dea982;
}

header {
    background-color: var(--header-bg-color);
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--header-text-color);
    letter-spacing: 0.5rem;
    margin: 1rem auto;
    width: fit-content;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.gameapplayout-body {
    background-color: var(--layout-body-bg-color);
    font-family: "Lora", serif;
    color: var(--layout-body-font-color);
}

main {
    padding: 1rem;
}

.game-name {
    text-transform: capitalize;
}

button {
    border: 0;
    padding: 0.25rem;
    font-family: "Bebas Neue", sans-serif;
    color: var(--button-color-2);
    background-color: var(--button-color-1);
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px rgba(56, 53, 36, 0.46);
}

button:hover{
    color: var(--button-color-1);
    background-color: var(--button-color-2);
    cursor: pointer;
}

.spinner {
    font-size: 5rem;
    color: var(--header-bg-color);
}

a {
    text-decoration: none;
}

input, textarea {
    font-family: "Lora", serif;
}

form :focus-visible {
    outline-color: var(--header-bg-color);
}

input[type='checkbox'] {
    accent-color: var(--header-bg-color);
}

.welcome-nav {
    display: flex;
    gap: 1rem;
}

/*Boardgame.Index view specific*/

.newgame-button-div {
    display: flex;
    justify-content: center;
}

.newgame-button {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.index-games-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.index-game-section {
    margin: 1rem;
    border: solid 2px white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-game-image {
    width: 30vw;
}

.index-game-section-buttons {
    display:flex;
    justify-content: space-evenly;
}

.solid {
    color: var(--header-bg-color);
}

.regular {
    color: var(--button-color-5);
}
.favourite-icon {
    font-size: 3rem;
}

.favourite-icon:hover {
    color: var(--layout-accent-color);
}

.index-game-section-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .index-games-display {
        display: grid;
        grid-template-columns: 1fr;
    }

    .index-game-section-buttons {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.25rem;
    }

    .index-game-image {
        width: 70vw;
    }
}

/*Boardgame.add new game/edit game*/

.add-game-form, .edit-game-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 75vw;
    /*align-self: center;*/
    margin: 0 auto;
}

.gamename-input-div, .image-url-input-div {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

label {
    width: 15vw;
}

input[type='text'] {
    width: 100%;
}

.buttons-div {
    display: flex;
    gap: 1rem;
}

/*Edit/Add Comment Form*/
.comment-form {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto;
    gap: 1rem;
}

.comment-public-checkbox {
    align-self: flex-start;
}

.comment-input {
    height: 20vh;
    width: 50%;
}

.disabled-button {
    text-decoration-line: line-through;
    pointer-events: none;
}



/*show individual game*/

.show-game {
    max-width: 75vw;
    margin: 1rem auto;
    border: solid 2px white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.35rem;
}


#comments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border: solid 1px white;
    padding: 1.5rem;
    margin: 0.5rem;
    width: 50%;
}

.comment-button {
    color: var(--button-color-3);
    background-color: var(--button-color-4);
}

.comment-button:hover {
    color: var(--button-color-4);
    background-color: var(--button-color-3);
}

.comments-subheading {
    text-transform: capitalize;
}

.individual-comment {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    gap: 0.5rem;*/
}

.pagination-nav {
    display: flex;
}

.pagination-arrows {
    background: none;
    color: var(--button-color-3);
    box-shadow: none;
}

.pagination-arrows:hover {
    background: none;
    color: var(--button-color-3);
    box-shadow: none;
}

.hidden {
    display: none;
}

.public {
    border: 1px solid #75d975;
}

.private {
    border: 1px solid #ea6666;
}


/*navigation bar*/

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation {
    font-family: "Bebas Neue";
    font-size: 1.5rem;
}

.navigation a {
    color: var(--button-color-1)
}

.navigation {
    color: var(--header-bg-color);
}

.navigation a:hover {
    background-color: var(--button-color-2)
}

/*profile page*/

.profile-page h2 {
    color: var(--header-bg-color);
}
