/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*.bebas-neue-regular {*/
/*    font-family: "Bebas Neue", sans-serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

:root {
    --layout-body-bg-color: #f7eae0;
    --layout-accent-color: #dc8c50;

    --header-bg-color: #c94927;
    --header-text-color: #ede0d7;

    --button-color-1: #685d18;
    --button-color-2: #eeed97;
}

header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    color: var(--header-text-color);
    letter-spacing: 0.5rem;
    margin: 1rem auto;
    width: fit-content;
    font-family: "Bebas Neue", sans-serif;
}

.gameapplayout-body {
    background-color: var(--layout-body-bg-color);
    font-family: "Lora", serif;
}

main {
    border: solid 3px var(--header-bg-color);
    padding: 1rem;
}
button {
    border: 0;
    padding: 0.25rem;
    font-family: "Bebas Neue", sans-serif;
    color: var(--button-color-2);
    background-color: var(--button-color-1);
    font-size: 1.5rem;
}

button:hover {
    color: var(--button-color-1);
    background-color: var(--button-color-2);
}

/*index view specific*/

.newgame-button-div {
    display: flex;
    justify-content: center;
}

.index-games-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.index-game-section {
    margin: 1rem;
    border: solid 2px white;
    padding: 0.5rem;
}

.index-game-image {
    width: 20vw;
}

.index-game-section-buttons {
    display:flex;
    justify-content: space-evenly;
}

.fa-solid {
    color: var(--header-bg-color);
    text-shadow: #d3874e 3px 3px;
}

.fa-regular {
    color: var(--header-text-color);
    text-shadow: rgba(128, 128, 110, 0.14) 3px 3px;
}

.fa-star {
    font-size: 2rem;
}

.index-game-section-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
